.button{
    position: absolute;
    bottom: 0;
    right: 5%;
    gap: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 130px;
    border-radius: 22px;
    background-color: #FFFF00;
    box-shadow: inset -2px -2px 4px 0 #C2C200, inset 2px 2px 4px 0 #FFFF80;
}
.button p {
    height: 19px;
    color: #000000;
    /*font-family: Avenir;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
}
.button img {
    width: 21px;
}
@media screen and (min-width: 420px) {
    .button {
        right: 0;
    }
    .button p {
        width: 55px;
        font-size: 14px;
    }
    .button img {
        height: 16px;
    }

}