.orderInfo2 {
    margin-top: 36px;
    /*border: 1px solid aqua;*/
    height: 122px;
    width: 80%;
    display: grid;
    grid-template-columns: 26px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /*row-gap: 25px;*/
    column-gap: 14px;
}
.address2 {
    margin-left: 30px;
    position: relative;
    /*margin-top: 13px;*/
    margin-bottom: 7px;
    /*background-color: red;*/
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.addressLine2{
    position: absolute;
    top: 45px;
    /*margin-top: 13px;*/
    /*margin-bottom: 10px;*/
    height: 61px;
    width: 1px;
    background: linear-gradient(to bottom, #FFFFFF, #000000);
}
.pickUp {
    /*background-color: green;*/
    margin-left: 21px;
}

.dropOff {
    /*background-color: magenta;*/
    margin-top: 26px;
    margin-left: 21px;
}
.bigOval {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border: 1px solid #FFFF00;
}

.smallOval {

    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: #FFFF00;
    box-shadow: inset 1px 1px 3px 0 #979700;
}
.shape{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #11161B;
    box-shadow: 0 2px 4px 0 #000000;

}
.insideShape{
    display: block;
    border-radius: 50%;
    box-sizing: border-box;
    height: 29px;
    width: 29px;
    border: 2px solid #1E2227;
    background-color: #0F1216;
    box-shadow: inset 2px 0 3px 0 #080C0F;
}
.inTransit{
    margin-top: 8px;
    margin-left: 23px;
}
.assigned{
    margin-top: 8px;
    margin-left: 63px;
}